%h3= t('.title')
%ul
  %li= link_to t('.list',:model => 'Alias'), aliases_path, :class => 'list button'
  - if can? :create, Email
    %li= link_to t('.new',:model => 'Alias'), new_alias_path, :class => 'add button'
