body {
  font-family: sans-serif;
  background-color: #efefef;
}
a {
  color: #ff4010;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.5;
}
header.page {
  background-color: #ff4010;
}
#top-bar {
  line-height: 22px;
  font-size: .875em;
  color: white;
  height: 22px;
  text-transform: lowercase;
  background-color: #f04010;
  border-bottom: 1px solid #ea3a08;
  overflow: hidden;
}
#top-bar a {
  color: white;
  text-decoration: none;
}
#top-bar .admin {
  float: left;
  margin-left: 10px;
}
form.switcher select {
  padding-left: 3px;
  font-size: 1em;
  border: 0;
}
#top-bar .account {
  float: right;
  margin-right: 10px;
  text-align: right;
}
header.page hgroup {
  line-height: 60px;
}
header.page h1,
header.page h2 {
  display: inline;
}
header.page hgroup a {
  color: black;
}
header.page hgroup a {
  text-decoration: none;
}
header.page h1 {
  margin-right: .25em;
  padding: 15px 0 10px 25px;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -.06em;
  text-shadow: 1px 1px 1px #aaa;
}
header .identity {
}

/*** main nav ***/

header nav {
  clear: both;
  overflow: hidden;
}
header nav ul {
  float: left;
  margin-left: 25px;
  overflow: hidden;
}
header nav li {
  float: left;
}
header nav a {
  display: block;
  margin: 0px 8px 0px 0px;
  padding: 8px 20px 8px 20px;
  color: black;
  text-decoration: none;
  background: #efefef;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  opacity: 0.7;
}
header nav a.active,
header nav a:hover {
  text-decoration: none;
  opacity: 1.0;
}

/** main content area **/

#page {
  margin: 25px;
  background-color: #f5f5f5;
  overflow: hidden;
  box-shadow: 3px 5px 10px #ccc;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 5px 10px #ccc;
}
#page section {
  position: relative;
  min-height: 400px;
  padding: 20px;
  background-color: white;
}
#page.sidebar section {
  float: left;
  width: 75%;
}
section h1 {
  padding-bottom: .25em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}
footer.page {
  clear: both;
  margin: 0 25px 20px;
}
footer.page p {
  color: #555;
  font-size: .75em;
  text-align: right;
}

/*** flash ***/

.flash {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: .75em;
  text-align: center;
}
.flash ul {
  padding: 5px;
  background-color: yellow;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*** tables ***/

table {
  width: 100%;
  margin: .75em 0 .5em;
  font-size: .875em;
  border-collapse: collapse;
}
td, th {
  padding: 3px 5px;
  vertical-align: middle;
  text-align: left;
}
td.right, th.right {
  text-align: right;
}
th {
  font-weight: bold;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}
tr:hover {
  background-color: #f8f8f8;
}
td {
  line-height: 1.2em;
  border-bottom: 1px solid #ddd;
}

/*** sub menu ***/

#sidebar {
  float: right;
  width: 20%;
  min-width: 100px;
}
#sidebar h3 {
  margin: 20px 20px 10px 0;
  padding: .375em .75em;
  color: white;
  font-weight: normal;
  background-color: #111;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
#sidebar nav {
  margin-right: 20px;
}
#sidebar nav ul {
  border-top: 1px solid #eee;
}
#sidebar nav li {
  border-bottom: 1px solid #eee;
}
#sidebar nav a {
  display: block;
  margin: 0 0 0 5px;
  padding-left: 20px;
  color: #555;
  line-height: 2;
  text-transform: lowercase;
}
#sidebar nav li:hover {
  background-color: #eee;
}
#sidebar nav a:hover {
  text-decoration: none;
}

/*** buttons ***/

.button {
  background: transparent left no-repeat;
}
.button.add {
  background-image: url(/images/add.png);
}
.button.list {
  background-image: url(/images/list.png);
}

/*** summaries ***/

div.summary {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 20px 20px 0;
}

/*** forms ***/

form {
  max-width: 500px;
}
header.page form {
  display: inline;
  width: inherit;
}
fieldset {
  width: 100%;
  margin-top: .75em;
  padding: 10px;
  background-color: #fafafa;
}
fieldset li {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: .5em;
  line-height: 1.5;
}
fieldset label {
  float: left;
  width: 125px;
  margin-right: 5px;
  text-align: right;
}
fieldset input[type=text],
fieldset .field {
}
fieldset input[type=text],
fieldset input[type=password],
fieldset textarea {
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #eee;
}
fieldset.actions {
  text-align: right;
  text-transform: lowercase;
  background-color: inherit;
}
input.right {
  text-align: right;
}
.hint {
  display: none;
  position: absolute;
  right: -225px;
  width: 200px;
  padding: 5px;
  color: #555;
  font-size: .75em;
  background-color: #ffc;
  border: 1px solid #ffa;
}
#error_explanation {
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
}
#error_explanation h2 {
  color: red;
  line-height: 1.5;
}
#error_explanation ul {
  list-style: disc inside;
  margin-left: 1em;
}

/** login page **/

body.sessions #page{
  width: 600px;
  height: 300px;
  margin: 25px auto;
  background-color: white;
}
body.sessions #page section {
  width: 560px;
}
body.sessions fieldset {
  background-color: inherit;
}
