- if user_signed_in?
  - if current_user.role? :super
    = @account.name
    |
  = link_to current_user.email, edit_user_path(current_user)
  |
  = link_to t('logout'), destroy_user_session_path
- else
  = link_to t('login'), new_user_session_path
