%fieldset
  %ul
    %li
      = f.label :roles
      %ul.field
        - Role.all.reject{|r| r.name == 'super'}.each do |role|
          %li
            = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
            = role.description
      = hidden_field_tag "user[role_ids][]", ""
