%h3= t('.title')
%ul
  %li= link_to t('emails.submenu.new',:model => 'Email'), new_domain_email_path(@domain), :class => 'add button' unless cannot? :create, Email
  %li= link_to t('.list',:model => 'Domain'), domains_path, :class => 'list button'
  %li= link_to t('.new',:model => 'Domain'), new_domain_path, :class => 'add button' unless cannot? :create, Domain

