
defaults: &defaults
  host_domain: example.com
  postmaster: postmaster@example.com
  hostmaster: hostmaster@example.com
  nameserver1: ns1.example.com
  nameserver2: ns2.example.com
  mx1: mail.example.com
  mx2: mx2.example.com
  dns_service_type: tinydns

production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults
