%h3= t('.title')
%ul
  %li= link_to t('.list',:model => 'Mailbox'), mailboxes_path, :class => 'list button'
  - if can? :create, Email
    %li= link_to t('.new',:model => 'Mailbox'), new_mailbox_path, :class => 'add button'
