%h1 Listing emails

%table
  %tr
    %th
    %th
    %th

  - @emails.each do |email|
    %tr
      %td= link_to 'Show', email
      %td= link_to 'Edit', edit_email_path(email)
      %td= link_to 'Destroy', email, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Email address', new_email_path
