%ul
  = create_tab t('domains.home'), domain_path(@domain)
  - if @domain
    =create_tab t('aliases.tab'), aliases_path
    =create_tab t('mailboxes.tab'), mailboxes_path
    =create_tab t('name_records.tab'), name_records_path
